name: tiktorch-server-env
channels:
  - pytorch
  - conda-forge
  - ilastik-forge
  - defaults
dependencies:
  - lapack
  - mypy
  - python=3.7.*
  - scipy=1.2.*  # 1.3 removed imsave
  - paramiko=2.4.2
  - inferno=v0.4.*
  - pyzmq=18.0.1
  - pyyaml=3.13
  - pytest=4.3.0
  - black
  - isort
  - conda-build
  - anaconda-client
  - bump2version
